body {
	padding-left: 20px;
	background-color: black;
}

h1 a {
	font-family: 'Anton', sans-serif;
	color: #333333;
	font-size: 70px;
}

.title {
	text-align: center;
	margin-bottom: 50px;
}

.posts {
	border-bottom: 5px solid #333333;
	width: 80%;
	margin: 0 auto 40px;
}

h2 a{
	font-family: 'Anton', sans-serif;
	color: #666666;
}

.post_title {
	font-family: 'Anton', sans-serif;
}